<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a developer living in Seattle, Washington.</p>
        <p>By day I work as a web developer at Freelock Computing. By night
        I play video games, watch tv, or dump some code on Github.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuff I've written</h2>
        <hr>
        <% @posts.each do |post| %>
          <h3><%= link_to post.title, post %></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <% end %>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuff I've built</h2>
        <hr>
        <h3><a href="#">Pinterest clone</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">Twitter clone</a></h3>
        <p class="date">Friday April 10th</p>
        <h3><a href="#">Reddit clone</a></h3>
        <p class="date">Friday April 10th</p>
      </div>
      
    </div>