<footer id="main_footer">
  <p class="copyright">&copy; 2017 Rafael Malave</p>
  <nav>
    <a href="https://www.facebook.com/rafaelmalave.me" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/rafaelmalave" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/rmalave" target="_blank"><i class="fa fa-github"></i></a>
  </nav>
</footer>