<header id="main_navigation" class="clearfix">
  <%= link_to "Rafael Malave", root_path, class: "name" %>
  <nav>
    <%= link_to "Articles", posts_path %>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>